header {
    position: fixed;
    width: 100%;
    z-index: 1;
}
#maincontent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'r m';
    grid-template-rows: 100%;
}

#map-container, .inside #map-container {
    grid-area: m;
}

#review-container {
    grid-area: r;
    margin-top: 80px;
}

#map, .inside #map {
    position: fixed !important;
    height: 50%;
    width: 50%;
    top: calc(100% / 2 - 25%);
}

.filter-options {
    position: fixed;
    width: 50%;
}

#restaurants-list {
    margin-top: 75px;
    grid-template-rows: 400px;
    grid-gap: .5em;
    margin-bottom: 95px;
}

#restaurants-list li {
    grid-template-columns: 400px auto;
    align-content: center;
}

#restaurants-list .restaurant-img {
    height: 400px;
}

.inside #map {
    top: calc(100% / 2 - 25%);
    height: 50%;
}

#restaurant-container {
    margin-top: 130px;
}

#reviews-container {
    margin-bottom: 95px;
}

#reviews-list {
    max-width: 90%;
}

#reviews-list li {
    grid-template-columns: 13% 22% 65%;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
